body{
    margin: 0;
    font-family: sans-serif;
    background-image: url(5.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    
    
}    
h1{
    color : rgb(32, 30, 141);
    border : 10px rgb(27, 97, 124) ;
    font-weight: bold;
    font-size: xx-large;
    

}
div{
    width: 320px;
    box-shadow : 0 0 3px 0 rgba(26, 38, 105, 0.3);
    background: rgb(43, 105, 197);
    padding: 20px;
    margin:  150px 300px 300px 700px;
    text-align: center;

}
.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border: 1px solid
    
}
button{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    cursor: pointer;


}
.SignUp-Button{
    background-color: rebeccapurple;
}
.Google-Button{
    background-color: #21afde;
}
hr{
    margin-top: 15px;
    width: 70%;
}
.or{
    background: white;
    width: 25px;
    margin: -15px auto 10px;
}
img{
    width: 70px;
    margin-top: -45px;
}
h2{
    font-size:larger;
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
    font-weight: bold;
    text-align:right;

}