body{
    margin: 0;
    padding: 4%;
    font-family: sans-serif;
    background-color: rgb(169, 169, 241);
    background-image: url(1588917293THG_M78_02.webp);
    background-blend-mode:color-burn;
    background-repeat: no-repeat ;
    background-size: 79%;
    background-position-y: 88%;
    
    
}
h1{
    color : rgb(13, 22, 146);
    border : 10px rgb(27, 97, 124) ;
    font-weight: bold;
    font-size: xx-large;
    

}
div{
    width: 320px;
    box-shadow : 0 0 3px 0 rgba(0,0,0,0.3);
    background: rgb(101, 101, 207);
    padding: 20px;
    margin:  0px 100px 100px 1050px;
    text-align: center;

}
.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border: 1px solid
    
}
button{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    cursor: pointer;


}
.SignIn-Button{
    background-color: rebeccapurple;
}
.Google-Button{
    background-color: #21afde;
}
hr{
    margin-top: 15px;
    width: 70%;
}
.or{
    background: white;
    width: 25px;
    margin: -15px auto 10px;
}
img{
    width: 70px;
    margin-top: -45px;
}
h2{
    font-size:larger;
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
    font-weight: bold;
    text-align:right;

}
 