body{
    margin: 0;
    font-family: sans-serif;
    background-image: url(4002785.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(169,169,241);
    background-blend-mode: color-burn;
    background-position-x: -100px;
    
    
}    
h1{
    color : rgb(32, 30, 141);
    border : 10px rgb(27, 97, 124) ;
    font-weight: bold;
    font-size: xx-large;
    

}
div{
    width: 320px;
    box-shadow : 0 0 3px 0 rgba(26, 38, 105, 0.3);
    background: rgb(77, 62, 204);
    padding: 20px;
    margin:  100px 300px 300px 1100px;
    text-align: center;
    border-radius: 20px;

}
.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border: 1px solid
    
}
button{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    cursor: pointer;


}
.Save-Button{
    background-color: rebeccapurple;
}
img{
    width: 70px;
    margin-top: -45px;
}
h2{
    font-size:larger;
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
    font-weight: bold;
    text-align:right;

}
.input{
    width: 250px;
    height: 30px;
    
}
.Button{
    background-color: rgb(121, 88, 143);
    border-radius: 0px;
    
}
nav{
    display: flex;
    /* background-color: rgb(111, 123, 203); */
    overflow: hidden;
    font-weight: 600px;
    font-size: xx-large;
   
    top: 0;
    width : 125%;
}
.nav-btn:hover {
    background-color: rgb(84, 95, 220);
    color: rgb(16, 13, 91);

}    
footer{
    font-weight: 600px;
    font-size: xx-large
}    
