body{
    margin: 0;
    /* padding: 4%; */
    font-family: sans-serif;
    background-color: rgb(169, 169, 241);
    background-image: url(img17.jpg);
    background-blend-mode:color;
    background-position-y: 100px;
    background-size:80%;
    
   
    
}
h1{
    color : rgb(13, 22, 146);
    border : 10px rgb(112, 106, 228) ;
    font-weight: bold;
    font-size: xx-large;
    

}
div{
    width: 800px;
    box-shadow : 20px 20px 20px 0 rgba(17, 19, 27, 0.3);
    background: rgb(187, 202, 249);
    padding: 20px;
    margin:  150px 200px 100px 320px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 30px;
    border-color: black;
    border-width: 10px;


}
.button{
    color: rgb(82, 25, 25);
    width: 10%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 10px 10px 1300px;
    cursor: pointer;
    background-color: grey;
}
nav{
    display: flex;
    overflow: hidden;
    font-weight: 600px;
    font-size: xx-large;
    
    top: 0;
    width : 125%;
}
.nav-btn:hover {
    background-color: rgb(84, 95, 220);
    color: rgb(16, 13, 91);

}    
footer{
    font-weight: 600px;
    font-size: xx-large
}    
